<div class="container">
  <h1 class="game-container text-center">New Game</h1>
  <div class="letters text-center">
    <% @letters.map do |letter| %>
      <li><%= letter %></li>
    <% end %>
  </div>
  <form action="score" class="text-center">
    <input type="text" placeholder="What's the longest word?" class="form-control" name="answer">
    <input type="submit" value="submit" class="button">
    <%= hidden_field_tag 'letters', @letters, action: 'score' %>
  </form>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
</div>
